BACKGROUND_COLOR="#EA7"
SUBVIEW="Software"
REPOS_NAME="Bioconductor 2.5 Software Packages"
VIEW_ROOT="$HOME/PACKAGES/2.5"
VIEW_URL="http://bioconductor.org/packages/2.5"
REPOS_ROOT="$VIEW_ROOT/bioc"
REPOS_URL="$VIEW_URL/bioc"
STATS_URL="http://bioconductor.org/packages/stats/bioc"
LOG_URL="http://fgc.lsi.umich.edu/cgi-bin/blosxom2.cgi"
CONTRIB_PATHS="c(source='src/contrib', win.binary='bin/windows/contrib/2.10', mac.binary.universal='bin/macosx/universal/contrib/2.10', mac.binary.leopard='bin/macosx/leopard/contrib/2.10')"
