SUBVIEW="Workflow"
REPOS_NAME="Bioconductor $BIOC_VERSION Workflows"
VIEW_ROOT="$HOME/PACKAGES/$BIOC_VERSION"
VIEW_URL="https://bioconductor.org/packages/$BIOC_VERSION"
MANIFEST_FILE="/home/biocbuild/bbs-3.11-workflows/manifest/workflows.txt"
MEAT0_PATH="/home/biocbuild/bbs-3.11-workflows/MEAT0"
# No manuals for the workflows
EXTRACT_MANUALS="FALSE"
REPOS_ROOT="$VIEW_ROOT/workflows"
REPOS_URL="$VIEW_URL/workflows"
STATS_URL=""
LOG_URL=""
CONTRIB_PATHS="c(source='src/contrib')"
HTML_DIR="workflows/html"
