SUBVIEW="Software"
REPOS_NAME="Bioconductor 2.1 Software Packages"
VIEW_ROOT="$HOME/PACKAGES/2.1"
VIEW_URL="http://bioconductor.org/packages/2.1"
REPOS_ROOT="$VIEW_ROOT/bioc"
REPOS_URL="$VIEW_URL/bioc"
CONTRIB_PATHS="c(source='src/contrib', win.binary='bin/windows/contrib/2.6', mac.binary='bin/macosx/universal/contrib/2.6')"
#CONTRIB_PATHS="c(source='src/contrib', win.binary='bin/windows/contrib/2.6')"

