SUBVIEW="Software"
REPOS_NAME="Bioconductor 1.8 Packages"
VIEW_ROOT="$HOME/PACKAGES/1.8"
VIEW_URL="http://bioconductor.org/packages/1.8"
REPOS_ROOT="$VIEW_ROOT/bioc"
REPOS_URL="$VIEW_URL/bioc"
CONTRIB_PATHS="c(source='src/contrib', win.binary='bin/windows/contrib/2.3', mac.binary='bin/macosx/universal/contrib/2.3')"
