SUBVIEW="AnnotationData"
REPOS_NAME="Bioconductor $BIOC_VERSION Packages - Annotation, CDF and Probe"
VIEW_ROOT="$HOME/PACKAGES/$BIOC_VERSION"
VIEW_URL="https://bioconductor.org/packages/$BIOC_VERSION"
# Change this to "FALSE" when all data annotation packages are in the manifest
# and thus are going thru the "data-annotation" builds.
# See prepareRepos-data-experiment.config for why the manuals then will no
# longer need to be extracted by prepareRepos-data-annotation.sh
EXTRACT_MANUALS="TRUE"
REPOS_ROOT="$VIEW_ROOT/data/annotation"
REPOS_URL="$VIEW_URL/data/annotation"
STATS_URL=""
LOG_URL=""
CONTRIB_PATHS="c(source='src/contrib')"
HTML_DIR="data/annotation/html"
