BODY {
    background: #228B22;
/*    background-image: url('DEVEL3b-green2.png'); */
    font-family: sans-serif;
    font-size: 10pt;
}

H1 {
    font-size: 16pt;
}
H2 {
    font-size: 14pt;
    margin-top: 8px;
    margin-bottom: 4px;
}
H3 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 4px;
}
H4 {
    font-size: 11pt;
    margin-top: 0px;
    margin-bottom: 4px;
}


/****************************************************************************
 * Message of the day
 */

TABLE.motd {
    width: 80%;
    margin: auto;
    margin-bottom: 6pt;
    border: solid red 4px;
    background: white;
    color: red;
}


/****************************************************************************
 * svn info
 */

DIV.svn_info P {
    margin: 0px;
    font-weight: bold;
    font-style: italic;
}
TABLE.svn_info {
    margin-top: 2pt;
    border-spacing: 0px;
    border-collapse: collapse;
}
DIV.svn_info TABLE.svn_info {
    /* margin: auto; */
    border: solid black 1px;
}
TABLE.mainrep TABLE.svn_info {
    font-size: smaller;
}
TABLE.svn_info TR TD.svn_info {
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background: #EEC;
    text-align: left;
}
SPAN.svn_info {
    color: #800;
}
DIV.svn_info SPAN.svn_info {
    font-weight: bold;
}


/****************************************************************************
 * Table of build node specifications
 */

TABLE.node_specs {
    /* margin: auto; */
    border: solid black 1px;
    /* font-size: smaller; */
}
TABLE.node_specs TH {
    text-align: left;
    vertical-align: top;
    font-style: italic;
    font-size: smaller;
}
TABLE.node_specs TD.spec {
    border: solid black 1px;
}


/****************************************************************************
 * Table of 'R CMD config' variables (on the NodeInfo pages)
 */

TABLE.Rconfig {
    border-spacing: 1px;
    font-family: monospace;
}
TABLE.Rconfig TD {
    background: #FFF;
}


/****************************************************************************
 * Glyph styles
 */

SPAN.TIMEOUT {
    font-weight: bold;
    color: white;
}
SPAN.ERROR {
    font-weight: bold;
    color: white;
}
SPAN.WARNINGS {
    font-weight: bold;
    color: white;
}
SPAN.OK {
    font-weight: bold;
    color: #DDD;
}
SPAN.NotNeeded {
    font-weight: bold;
    color: #EEE;
}
SPAN.skipped {
    font-weight: bold;
}

.TIMEOUT,
TABLE.summary TD.summary.TIMEOUT {
    background: #A08;
}
.ERROR,
TABLE.summary TD.summary.ERROR {
    background: #B33;
}
.WARNINGS,
TABLE.summary TD.summary.WARNINGS {
    background: #D82;
}
.OK,
TABLE.summary TD.summary.OK {
    background: #282;
}
.NotNeeded,
TABLE.summary TD.summary.NotNeeded {
    background: #69C;
}

TABLE.summary {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    color: white;
}
TABLE.summary TD {
    width: 28px;
    padding: 0px;
    text-align: center;
}


/****************************************************************************
 * Main table (the big one)
 */

TABLE.mainrep {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

TABLE.mainrep TD {
    padding: 0px;
}
TABLE.mainrep .node {
    text-align: center;
}
TABLE.mainrep .stagecmd {
    width: 120px;
}

TABLE.mainrep TR.header TD,
TABLE.mainrep TD.header {
    /* border-top: solid black 1px; */
    background: inherit;
    font-style: italic;
    font-size: smaller;
}
TABLE.mainrep TR.current,
TABLE.mainrep TD.current {
    font-weight: bold;
}

TABLE.mainrep TD.status {
    /* border: inset 1pt; */
    text-align: center;
}

TABLE.mainrep .odd TH,
TABLE.mainrep .odd TD {
    background: #FFF;
}
TABLE.mainrep .even TH,
TABLE.mainrep .even TD {
    background: #DDD;
}


/****************************************************************************
 * Node specific background colors
 */

/* lamb1 */
DIV.lamb1,
TR.lamb1 TD,
TABLE.mainrep .lamb1,
TABLE.mainrep .odd .lamb1 {
    background: #BCC;
}
TABLE.mainrep .even .lamb1 {
    background: #9AA;
}

/* george2 */
DIV.george2,
TR.george2 TD,
TABLE.mainrep .george2,
TABLE.mainrep .odd .george2 {
    background: #EED;
}
TABLE.mainrep .even .george2 {
    background: #CCB;
}

/* zin1 */
DIV.zin1,
TR.zin1 TD,
TABLE.mainrep .zin1,
TABLE.mainrep .odd .zin1 {
    background: #BCD;
}
TABLE.mainrep .even .zin1 {
    background: #9AB;
}

/* zin2 */
DIV.zin2,
TR.zin2 TD,
TABLE.mainrep .zin2,
TABLE.mainrep .odd .zin2 {
    background: #ACD;
}
TABLE.mainrep .even .zin2 {
    background: #8AB;
}

/* dockernode */
DIV.dockernode,
TR.dockernode TD,
TABLE.mainrep .dockernode,
TABLE.mainrep .odd .dockernode {
    background: #ACD;
}
TABLE.mainrep .even .dockernode {
    background: #8AB;
}



/* wilson2 */
DIV.wilson2,
TR.wilson2 TD,
TABLE.mainrep .wilson2,
TABLE.mainrep .odd .wilson2 {
    background: #BDD;
}
TABLE.mainrep .even .wilson2 {
    background: #9BB;
}

/* puck5 */
DIV.puck5,
TR.puck5 TD,
TABLE.mainrep .puck5,
TABLE.mainrep .odd .puck5 {
    background: #D99;
}
TABLE.mainrep .even .puck5 {
    background: #B77;
}

/* wellington */
DIV.wellington,
TR.wellington TD,
TABLE.mainrep .wellington,
TABLE.mainrep .odd .wellington {
    background: #EED;
}
TABLE.mainrep .even .wellington {
    background: #CCB;
}

/* churchill */
DIV.churchill,
TR.churchill TD,
TABLE.mainrep .churchill,
TABLE.mainrep .odd .churchill {
    background: #DEF;
}
TABLE.mainrep .even .churchill {
    background: #BCD;
}

/* gladstone */
DIV.gladstone,
TR.gladstone TD,
TABLE.mainrep .gladstone,
TABLE.mainrep .odd .gladstone {
    background: #DED;
}
TABLE.mainrep .even .gladstone {
    background: #BCB;
}

/* lemming */
DIV.lemming,
TR.lemming TD,
TABLE.mainrep .lemming,
TABLE.mainrep .odd .lemming {
    background: #EDD;
}
TABLE.mainrep .even .lemming {
    background: #CBB;
}

/* liverpool */
DIV.liverpool,
TR.liverpool TD,
TABLE.mainrep .liverpool,
TABLE.mainrep .odd .liverpool {
    background: #ECA;
}
TABLE.mainrep .even .liverpool {
    background: #CA8;
}

/* gewurz */
DIV.gewurz,
TR.gewurz TD,
TABLE.mainrep .gewurz,
TABLE.mainrep .odd .gewurz {
    background: #EBA;
}
TABLE.mainrep .even .gewurz {
    background: #C98;
}

/* moscato1 */
DIV.moscato1,
TR.moscato1 TD,
TABLE.mainrep .moscato1,
TABLE.mainrep .odd .moscato1 {
    background: #EBA;
}
TABLE.mainrep .even .moscato1 {
    background: #C98;
}

/* moscato2 */
DIV.moscato2,
TR.moscato2 TD,
TABLE.mainrep .moscato2,
TABLE.mainrep .odd .moscato2 {
    background: #EBA;
}
TABLE.mainrep .even .moscato2 {
    background: #C98;
}

/* walpole */
DIV.walpole,
TR.walpole TD,
TABLE.mainrep .walpole,
TABLE.mainrep .odd .walpole {
    background: #FDD;
}
TABLE.mainrep .even .walpole {
    background: #DBB;
}

/* matrix1 */
DIV.matrix1,
TR.matrix1 TD,
TABLE.mainrep .matrix1,
TABLE.mainrep .odd .matrix1 {
    background: #FCC;
}
TABLE.mainrep .even .matrix1 {
    background: #DAA;
}

/* matrix2 */
DIV.matrix2,
TR.matrix2 TD,
TABLE.mainrep .matrix2,
TABLE.mainrep .odd .matrix2 {
    background: #FBB;
}
TABLE.mainrep .even .matrix2 {
    background: #D99;
}

/* pitt */
DIV.pitt,
TR.pitt TD,
TABLE.mainrep .pitt,
TABLE.mainrep .odd .pitt {
    background: #DBE;
}
TABLE.mainrep .even .pitt {
    background: #B9C;
}

/* pelham */
DIV.pelham,
TR.pelham TD,
TABLE.mainrep .pelham,
TABLE.mainrep .odd .pelham {
    background: #DBE;
}
TABLE.mainrep .even .pelham {
    background: #B9C;
}

/* petty */
DIV.petty,
TR.petty TD,
TABLE.mainrep .petty,
TABLE.mainrep .odd .petty {
    background: #DAE;
}
TABLE.mainrep .even .petty {
    background: #B8C;
}

/* perceval */
DIV.perceval,
TR.perceval TD,
TABLE.mainrep .perceval,
TABLE.mainrep .odd .perceval {
    background: #DBF;
}
TABLE.mainrep .even .perceval {
    background: #B9D;
}

/* morelia */
DIV.morelia,
TR.morelia TD,
TABLE.mainrep .morelia,
TABLE.mainrep .odd .morelia {
    background: #DBE;
}
TABLE.mainrep .even .morelia {
    background: #B9C;
}

/* oaxaca */
DIV.oaxaca,
TR.oaxaca TD,
TABLE.mainrep .oaxaca,
TABLE.mainrep .odd .oaxaca {
    background: #DCF;
}
TABLE.mainrep .even .oaxaca {
    background: #BAD;
}

