BACKGROUND_COLOR="#7AA"
SUBVIEW="AnnotationData"
REPOS_NAME="Bioconductor 2.3 Packages - Annotation, CDF and Probe"
VIEW_ROOT="$HOME/PACKAGES/2.3"
VIEW_URL="http://bioconductor.org/packages/2.3"
REPOS_ROOT="$VIEW_ROOT/data/annotation"
REPOS_URL="$VIEW_URL/data/annotation"
STATS_URL=""
LOG_URL=""
CONTRIB_PATHS="c(source='src/contrib', win.binary='bin/windows/contrib/2.8', mac.binary.universal='bin/macosx/universal/contrib/2.8', mac.binary.leopard='bin/macosx/leopard/contrib/2.8')"
