SUBVIEW="Software"
REPOS_NAME="Bioconductor $BIOC_VERSION Software Packages"
VIEW_ROOT="$HOME/PACKAGES/$BIOC_VERSION"
VIEW_URL="https://bioconductor.org/packages/$BIOC_VERSION"
MANIFEST_FILE="/home/biocbuild/bbs-3.8-bioc/manifest/software.txt"
REPOS_ROOT="$VIEW_ROOT/bioc"
REPOS_URL="$VIEW_URL/bioc"
STATS_URL="https://bioconductor.org/packages/stats/bioc"
#LOG_URL="http://fgc.lsi.umich.edu/cgi-bin/blosxom2.cgi"
LOG_URL=""
CONTRIB_PATHS="c('source'='src/contrib', 'win.binary'='bin/windows/contrib/$R_VERSION', 'mac.binary.el-capitan'='bin/macosx/el-capitan/contrib/$R_VERSION')"
HTML_DIR="bioc/html"
