BODY {
    background: #f0d8c8;
    padding: 8px;
    font-family: sans-serif;
    font-size: 11pt;
    color: #555;
}

H1 {
    font-size: 18pt;
    text-align: center;
}
H2 {
    font-size: 15pt;
    margin-top: 10px;
    margin-bottom: 6px;
    text-align: center;
}
H2 SPAN {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
}
H3 {
    font-size: 13pt;
    margin-top: 2px;
    margin-bottom: 3px;
    text-align: center;
}
H4 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 2px;
}

P.time_stamp {
    font-style: italic;
    text-align: center;
}

TABLE.centered {
    margin-left: auto;
    margin-right: auto;
}

TABLE.grid_layout {
    border-spacing: 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
TABLE.grid_layout TD {
    vertical-align: top;
    padding: 0px;
}

SPAN.filename {
    font-family: monospace;
    background: #445555;
    color: #AADDDD;
    padding: 3px;
}
SPAN.filename.fail {
    background: #B33;
}

DIV.hscrollable {
    overflow: auto;
    white-space: nowrap;
}
TABLE.grid_layout DIV.hscrollable {
    width: 550px;
}


/****************************************************************************
 * Message of the day
 */

DIV.motd {
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold;
}
DIV.motd TABLE {
    width: 80%;
    margin: auto;
}


/****************************************************************************
 * svn info
 */

TABLE.svn_info {
    margin-top: 2pt;
    border-spacing: 0px;
    border-collapse: collapse;
}
DIV.svn_info TABLE.svn_info TD.svn_info {
    background: #EEFAF2;
    border: 0px;
    border-radius: 12px;
    padding: 8px;
}
TABLE.svn_info TR TD.svn_info {
    background: #EEFAF2;
    border: 1px solid #CED;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
}
SPAN.svn_info {
    color: #B44;
}
DIV.svn_info SPAN.svn_info {
    font-weight: bold;
}


/****************************************************************************
 * Table of build node specifications
 */

TABLE.node_specs {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: smaller;
}

TABLE.node_specs TH,
TABLE.node_specs TD {
    border: 1px solid #555;
    padding-left: 6px;
    padding-right: 6px;
}
TABLE.node_specs TH {
    padding-top: 2px;
    padding-bottom: 2px;
}
TABLE.node_specs TD {
    padding-top: 5px;
    padding-bottom: 5px;
}


/****************************************************************************
 * Table of 'R CMD config' variables (on the NodeInfo pages)
 */

TABLE.Rconfig {
    border-spacing: 1px;
    font-family: monospace;
}
TABLE.Rconfig TD {
    background: #FFF;
}


/****************************************************************************
 * Glyph styles
 */

.glyph {
    font-weight: bold;
}
.glyph.TIMEOUT {
    background: #A08;
    color: white;
}
.glyph.ERROR {
    background: #B33;
    color: white;
}
.glyph.WARNINGS {
    background: #D82;
    color: white;
}
.glyph.OK {
    background: #282;
    color: #DDD;
}
.glyph.NotNeeded {
    background: #69C;
    color: #EEE;
}
.glyph.NA {
    background: #8AA;
}

P.noresult {
    text-align: center;
}
P.noresult SPAN {
    background: #8AA;
    padding: 4pt;
}

TD.button {
    height: 30px;
    background: white;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: middle;
}
TD.button BUTTON {
    width: 100%;
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
TD.button BUTTON.mouseover {
    border: 1px solid black;
}
TD.button BUTTON.selected {
    border: 1px solid red;
}


/****************************************************************************
 * List of glyph cards (gcards)
 */

TABLE.gcard_list {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

TABLE.gcard_list TD {
    /*border: 1px solid black;*/
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

TABLE.gcard_list TR.header TD.leftmost,
TABLE.gcard_list TR.header TD.rightmost {
    width: 14px;
}
TABLE.compact.gcard_list TR.header TD.leftmost {
    width: 28px;
}
TABLE.compact.gcard_list TR.header TD.rightmost {
    width: 14px;
}

TABLE.gcard_list TR.vertical_space {
    height: 10px;
}
TABLE.gcard_list TBODY.gcard_separator TR.vertical_space TD {
    padding: 0px;
}
TABLE.gcard_list TBODY.gcard_separator TR.vertical_space {
    height: 1px;
}

TABLE.gcard_list TR.header TD {
    font-weight: bold;
    /* font-style: italic; */
    font-size: smaller;
}

TABLE.gcard_list TR.header TD.STAGE {
    text-align: center;
    width: 125px;
}
TABLE.gcard_list TD.status {
    text-align: center;
    padding: 0px;
}

TABLE.gcard_list TR.selected_row {
    /*font-weight: bold;*/
}

TABLE.gcard_list TABLE.svn_info {
    font-weight: normal;
    font-size: smaller;
    font-style: italic;
}


/****************************************************************************
 * Quick stats
 */

THEAD.quickstats TR {
    height: 32px;
}
THEAD.quickstats TR.header {
    height: 22px;
}

TABLE.quickstats {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
}
TABLE.quickstats TR {
    height: 24px;
    text-align: center;
}
TABLE.quickstats TD {
    width: 36px;
}


/****************************************************************************
 * Glyph card (gcard)
 */

TBODY.gcard TD {
    background: white;
    border-left: 1px solid #DDD;
}
TBODY.gcard TD.leftmost {
    border-left: 0px;
}

TBODY.gcard TR.header {
    height: 20px;
}
TBODY.gcard TR.footer {
    height: 6px;
}
TBODY.gcard TR.header TD {
    color: #999;
}
TBODY.compact.gcard TR {
    height: 24px;
}
TBODY.compact.gcard TD.row_number {
    color: #999;
    text-align: right;
    padding-right: 4px;
}
TBODY.compact.gcard TR.even_row_number TD {
    background: #EEE;
}

TBODY.gcard TR.header TD.top_left_corner {
    border-top-left-radius: 12px;
}
TBODY.gcard TR.header TD.top_right_corner {
    border-top-right-radius: 12px;
}
TBODY.gcard TD.bottom_left_corner {
    border-bottom-left-radius: 12px;
}
TBODY.gcard TD.bottom_right_corner {
    border-bottom-right-radius: 12px;
}

TBODY.compact.gcard TD.leftmost {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
TBODY.compact.gcard TD.rightmost {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

TBODY.gcard TD.STAGE.selected {
    color: #555;
    border-top: 3px solid #AAA;
}
TBODY.gcard TD.status A {
    display: block;
    text-decoration: none;
}
TBODY.gcard TD.status.selected A,
TBODY.gcard TD.status A.mouseover {
    border: 1px solid black;
}


/****************************************************************************
 * ABC dispatcher
 */

TABLE.gcard_list TR.abc TD {
    padding: 0px;
}

TABLE.big_letter {
    border: 1px solid black;
    font-weight: bold;
    font-size: 16pt;
    padding: 3px;
}

TABLE.abc_dispatcher {
    font-family: monospace;
    font-size: 12pt;
    margin-right: 0px;
    margin-left: auto;
}

TABLE.abc_dispatcher TD {
    background: #EEE;
    width: 22px;
    text-align: center;
}


/****************************************************************************
 * Node specific background colors
 */

/* malbec1 (Ubuntu 18.04) */
.malbec1,
.gcard TD.malbec1 {
    background: #BDF;
}
.malbec1.toned_down,
TR.toned_down .malbec1,
TBODY.compact.gcard TR.even_row_number .malbec1 {
    background: #ACE;
}

/* malbec2 (Ubuntu 20.04) */
.malbec2,
.gcard TD.malbec2 {
    background: #DAECFA;
}
.malbec2.toned_down,
TR.toned_down .malbec2,
TBODY.compact.gcard TR.even_row_number .malbec2 {
    background: #CADCEA;
}

/* nebbiolo1 (Ubuntu 20.04) */
.nebbiolo1,
.gcard TD.nebbiolo1 {
    background: #DAECFA;
}
.nebbiolo1.toned_down,
TR.toned_down .nebbiolo1,
TBODY.compact.gcard TR.even_row_number .nebbiolo1 {
    background: #CADCEA;
}

/* rex3 (Ubuntu 20.04) */
.rex3,
.gcard TD.rex3 {
    background: #DAECFA;
}
.rex3.toned_down,
TR.toned_down .rex3,
TBODY.compact.gcard TR.even_row_number .rex3 {
    background: #CADCEA;
}

/* tokay1 */
.tokay1,
.gcard TD.tokay1 {
    background: #EDC;
}
.tokay1.toned_down,
TR.toned_down .tokay1,
TBODY.compact.gcard TR.even_row_number .tokay1 {
    background: #DCB;
}

/* tokay2 */
.tokay2,
.gcard TD.tokay2 {
    background: #EEE4CC;
}
.tokay2.toned_down,
TR.toned_down .tokay2,
TBODY.compact.gcard TR.even_row_number .tokay2 {
    background: #DDD3BB;
}

/* riesling1 */
.riesling1,
.gcard TD.riesling1 {
    background: #F4EFDF;
}
.riesling1.toned_down,
TR.toned_down .riesling1,
TBODY.compact.gcard TR.even_row_number .riesling1 {
    background: #E4DFCF;
}

/* merida1 */
.merida1,
.gcard TD.merida1 {
    background: #D8CCEE;
}
.merida1.toned_down,
TR.toned_down .merida1,
TBODY.compact.gcard TR.even_row_number .merida1 {
    background: #C8BBDD;
}

/* machv2 */
.machv2,
.gcard TD.machv2 {
    background: #ECE6FA;
}
.machv2.toned_down,
TR.toned_down .machv2,
TBODY.compact.gcard TR.even_row_number .machv2 {
    background: #DCD6EA;
}

/* taxco */
.taxco,
.gcard TD.taxco {
    background: #E8DAF4;
}
.taxco.toned_down,
TR.toned_down .taxco,
TBODY.compact.gcard TR.even_row_number .taxco {
    background: #D8CAE4;
}

