BODY {
    background: #f0d8c8;
    padding: 10px;
    font-family: sans-serif;
    font-size: 11pt;
    color: #555;
}

H1 {
    font-size: 18pt;
    text-align: center;
}
H2 {
    font-size: 15pt;
    margin-top: 4px;
    margin-bottom: 3px;
    text-align: center;
}
H3 {
    font-size: 13pt;
    margin-top: 2px;
    margin-bottom: 3px;
    text-align: center;
}
H4 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 2px;
}

P.time_stamp {
    font-style: italic;
    text-align: center;
}

TABLE.centered {
    margin-left: auto;
    margin-right: auto;
}

TABLE.grid_layout {
    border-spacing: 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
TABLE.grid_layout TD {
    vertical-align: top;
    padding: 0px;
}

SPAN.filename {
    font-family: monospace;
    background: #445555;
    color: #AADDDD;
    padding: 3px;
}
SPAN.filename.fail {
    background: #B33;
}

DIV.hscrollable {
    overflow: auto;
    white-space: nowrap;
}
TABLE.grid_layout DIV.hscrollable {
    width: 550px;
}


/****************************************************************************
 * Message of the day
 */

TABLE.motd {
    width: 80%;
    margin: auto;
    margin-bottom: 4pt;
    text-align: center;
    font-weight: bold;
}


/****************************************************************************
 * svn info
 */

TABLE.svn_info {
    margin-top: 2pt;
    border-spacing: 0px;
    border-collapse: collapse;
}
DIV.svn_info TABLE.svn_info TD.svn_info {
    background: #EEFAF2;
    border: 0px;
    border-radius: 12px;
    padding: 8px;
}
TABLE.svn_info TR TD.svn_info {
    background: #EEFAF2;
    border: 1px solid #CED;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
}
SPAN.svn_info {
    color: #B44;
}
DIV.svn_info SPAN.svn_info {
    font-weight: bold;
}


/****************************************************************************
 * Table of build node specifications
 */

TABLE.node_specs {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: smaller;
}

TABLE.node_specs TH,
TABLE.node_specs TD {
    border: 1px solid #555;
    padding-left: 6px;
    padding-right: 6px;
}
TABLE.node_specs TH {
    padding-top: 2px;
    padding-bottom: 2px;
}
TABLE.node_specs TD {
    padding-top: 5px;
    padding-bottom: 5px;
}


/****************************************************************************
 * Table of 'R CMD config' variables (on the NodeInfo pages)
 */

TABLE.Rconfig {
    border-spacing: 1px;
    font-family: monospace;
}
TABLE.Rconfig TD {
    background: #FFF;
}


/****************************************************************************
 * Glyph styles
 */

SPAN.TIMEOUT {
    font-weight: bold;
    color: white;
}
SPAN.ERROR {
    font-weight: bold;
    color: white;
}
SPAN.WARNINGS {
    font-weight: bold;
    color: white;
}
SPAN.OK {
    font-weight: bold;
    color: #DDD;
}
SPAN.NotNeeded {
    font-weight: bold;
    color: #EEE;
}
SPAN.skipped, SPAN.NA {
    font-weight: bold;
}


/****************************************************************************
 * List of glyph cards (gcards)
 */

TABLE.gcard_list {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

TABLE.gcard_list TD {
    /*border: 1px solid black;*/
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

TABLE.gcard_list TR.row_separator {
    height: 4px;
}

TABLE.gcard_list TR.header TD {
    font-weight: bold;
    /* font-style: italic; */
    font-size: smaller;
}

TABLE.gcard_list TR.header TD.STAGE {
    padding: 0px;
    text-align: center;
    width: 120px;
}
TABLE.gcard_list TD.status {
    padding: 0px;
    text-align: center;
}

TABLE.gcard_list TR.selected_row {
    font-weight: bold;
}

TABLE.gcard_list TABLE.svn_info {
    font-weight: normal;
    font-size: smaller;
    font-style: italic;
}


/****************************************************************************
 * Quick stats
 */

TABLE.quickstats TD.quickstats {
    padding: 0px;
    text-align: center;
}

.TIMEOUT,
TABLE.quickstats TD.quickstats.TIMEOUT {
    background: #A08;
}
.ERROR,
TABLE.quickstats TD.quickstats.ERROR {
    background: #B33;
}
.WARNINGS,
TABLE.quickstats TD.quickstats.WARNINGS {
    background: #D82;
}
.OK,
TABLE.quickstats TD.quickstats.OK {
    background: #282;
}
.NotNeeded,
TABLE.quickstats TD.quickstats.NotNeeded {
    background: #69C;
}
.NA,
TABLE.quickstats TD.quickstats.NA {
    background: #8AA;
}
P.noresult {
    text-align: center;
}
P.noresult SPAN {
    background: #8AA;
    padding: 4pt;
}

TABLE.quickstats {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    color: white;
}
TABLE.quickstats TD {
    width: 32px;
    padding: 0px;
    text-align: center;
}


/****************************************************************************
 * Glyph card (gcard)
 */

TR.gcard TD {
    background: white;
    border-left: 1px solid #DDD;
}
TR.gcard.header {
    height: 20px;
}
TR.gcard.header TD {
    /*background: #F6F6F6;*/
    color: #999;
}
TR.compact.gcard {
    height: 24px;
}
TR.compact.gcard TD.row_number {
    color: #999;
    text-align: right;
    padding-right: 4px;
}
TR.compact.gcard.even_row TD {
    background: #EEE;
}

TR.gcard.header TD.top_left_corner {
    background: white;
    border-left: 0px;
    width: 14px;
    border-top-left-radius: 10px;
}
TR.gcard.header TD.top_right_corner {
    width: 14px;
    border-top-right-radius: 10px;
}
TR.gcard TD.bottom_left_corner {
    border-left: 0px;
    border-bottom-left-radius: 10px;
}
TR.gcard TD.bottom_right_corner {
    border-bottom-right-radius: 10px;
}

TR.gcard TD.left_border {
    border-left: 0px;
}
TR.compact.gcard TD.left_border {
    width: 28px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
TR.compact.gcard TD.right_border {
    width: 14px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


/****************************************************************************
 * ABC dispatcher
 */

TABLE.gcard_list TR.abc TD {
    padding: 0px;
}

TABLE.big_letter {
    border: 1px solid black;
    font-weight: bold;
    font-size: 16pt;
    padding: 3px;
}

TABLE.abc_dispatcher {
    font-family: monospace;
    font-size: 12pt;
    margin-right: 0px;
    margin-left: auto;
}

TABLE.abc_dispatcher TD {
    background: #EEE;
    width: 22px;
    text-align: center;
}


/****************************************************************************
 * Node specific background colors
 */

/* malbec1 (Ubuntu 18.04) */
DIV.malbec1,
TR.malbec1,
TR.gcard TD.malbec1 {
    background: #BDF;
}
TR.compact.gcard.even_row TD.malbec1 {
    background: #ACE;
}

/* malbec2 (Ubuntu 20.04) */
DIV.malbec2,
TR.malbec2,
TR.gcard TD.malbec2 {
    background: #DAECFA;
}
TR.compact.gcard.even_row TD.malbec2 {
    background: #CADCEA;
}

/* nebbiolo1 (Ubuntu 20.04) */
DIV.nebbiolo1,
TR.nebbiolo1,
TR.gcard TD.nebbiolo1 {
    background: #DAECFA;
}
TR.compact.gcard.even_row TD.nebbiolo1 {
    background: #CADCEA;
}

/* rex3 (Ubuntu 20.04) */
DIV.rex3,
TR.rex3,
TR.gcard TD.rex3 {
    background: #DAECFA;
}
TR.compact.gcard.even_row TD.rex3 {
    background: #CADCEA;
}

/* tokay1 */
DIV.tokay1,
TR.tokay1,
TR.gcard TD.tokay1 {
    background: #EDC;
}
TR.compact.gcard.even_row TD.tokay1 {
    background: #DCB;
}

/* tokay2 */
DIV.tokay2,
TR.tokay2,
TR.gcard TD.tokay2 {
    background: #EEE4CC;
}
TR.compact.gcard.even_row TD.tokay2 {
    background: #DDD3BB;
}

/* riesling1 */
DIV.riesling1,
TR.riesling1,
TR.gcard TD.riesling1 {
    background: #F4EFDF;
}
TR.compact.gcard.even_row TD.riesling1 {
    background: #E4DFCF;
}

/* merida1 */
DIV.merida1,
TR.merida1,
TR.gcard TD.merida1 {
    background: #D8CCEE;
}
TR.compact.gcard.even_row TD.merida1 {
    background: #C8BBDD;
}

/* machv2 */
DIV.machv2,
TR.machv2,
TR.gcard TD.machv2 {
    background: #ECE6FA;
}
TR.compact.gcard.even_row TD.machv2 {
    background: #DCD6EA;
}

/* taxco */
DIV.taxco,
TR.taxco,
TR.gcard TD.taxco {
    background: #E8DAF4;
}
TR.compact.gcard.even_row TD.taxco {
    background: #D8CAE4;
}

