BODY {
    background: #f0d8c8;
    padding: 10px;
    font-family: sans-serif;
    font-size: 11pt;
    color: #2a2a2a;
}

H1 {
    font-size: 18pt;
    text-align: center;
}
H2 {
    font-size: 15pt;
    margin-top: 4px;
    margin-bottom: 3px;
    text-align: center;
}
H3 {
    font-size: 13pt;
    margin-top: 2px;
    margin-bottom: 3px;
    text-align: center;
}
H4 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 2px;
}

P.time_stamp {
    font-style: italic;
    text-align: center;
}

TABLE.centered {
    margin-left: auto;
    margin-right: auto;
}

TABLE.grid_layout {
    border-spacing: 0px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
TABLE.grid_layout TD {
    vertical-align: top;
    padding: 0px;
}

SPAN.filename {
    font-family: monospace;
    background: #445555;
    color: #AADDDD;
    padding: 3px;
}
SPAN.filename.fail {
    background: #B33;
}

DIV.hscrollable {
    overflow: auto;
    white-space: nowrap;
}
TABLE.grid_layout DIV.hscrollable {
    width: 550px;
}


/****************************************************************************
 * Message of the day
 */

TABLE.motd {
    width: 80%;
    margin: auto;
    margin-bottom: 4pt;
    text-align: center;
    font-weight: bold;
}


/****************************************************************************
 * svn info
 */

TABLE.svn_info {
    margin-top: 2pt;
    border-spacing: 0px;
    border-collapse: collapse;
}
DIV.svn_info TABLE.svn_info TD.svn_info {
    background: #EEFAF2;
    border: 0px;
    border-radius: 12px;
    padding: 8px;
}
TABLE.svn_info TR TD.svn_info {
    background: #EEFAF2;
    border: solid #CED 1px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
}
SPAN.svn_info {
    color: #800;
}
DIV.svn_info SPAN.svn_info {
    font-weight: bold;
}


/****************************************************************************
 * Table of build node specifications
 */

TABLE.node_specs {
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
    font-size: smaller;
}
TABLE.node_specs TH {
    text-align: left;
    vertical-align: top;
    font-style: italic;
    font-size: smaller;
}
TABLE.node_specs TD.spec {
    border: solid black 1px;
}


/****************************************************************************
 * Table of 'R CMD config' variables (on the NodeInfo pages)
 */

TABLE.Rconfig {
    border-spacing: 1px;
    font-family: monospace;
}
TABLE.Rconfig TD {
    background: #FFF;
}


/****************************************************************************
 * Glyph styles
 */

SPAN.TIMEOUT {
    font-weight: bold;
    color: white;
}
SPAN.ERROR {
    font-weight: bold;
    color: white;
}
SPAN.WARNINGS {
    font-weight: bold;
    color: white;
}
SPAN.OK {
    font-weight: bold;
    color: #DDD;
}
SPAN.NotNeeded {
    font-weight: bold;
    color: #EEE;
}
SPAN.skipped, SPAN.NA {
    font-weight: bold;
}


/****************************************************************************
 * List of status cards
 */

TABLE.scard_list {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

TABLE.scard_list TD {
    /*border: solid black 1px;*/
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

TABLE.scard_list TR.row_separator {
    height: 4px;
}

TABLE.scard_list TR.header TD {
    font-weight: bold;
    /* font-style: italic; */
    font-size: smaller;
}

TABLE.scard_list TR.header TD.STAGE {
    padding: 0px;
    text-align: center;
    width: 120px;
}
TABLE.scard_list TD.status {
    padding: 0px;
    text-align: center;
}

TABLE.scard_list TR.selected_row {
    font-weight: bold;
}

TABLE.scard_list TABLE.svn_info {
    font-weight: normal;
    font-size: smaller;
    font-style: italic;
}


/****************************************************************************
 * SUMMARY
 */

TABLE.SUMMARY TD.SUMMARY {
    padding: 0px;
    text-align: center;
}

.TIMEOUT,
TABLE.SUMMARY TD.SUMMARY.TIMEOUT {
    background: #A08;
}
.ERROR,
TABLE.SUMMARY TD.SUMMARY.ERROR {
    background: #B33;
}
.WARNINGS,
TABLE.SUMMARY TD.SUMMARY.WARNINGS {
    background: #D82;
}
.OK,
TABLE.SUMMARY TD.SUMMARY.OK {
    background: #282;
}
.NotNeeded,
TABLE.SUMMARY TD.SUMMARY.NotNeeded {
    background: #69C;
}
.NA,
TABLE.SUMMARY TD.SUMMARY.NA {
    background: #8AA;
}
P.noresult {
    text-align: center;
}
P.noresult SPAN {
    background: #8AA;
    padding: 4pt;
}

TABLE.SUMMARY {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    color: white;
}
TABLE.SUMMARY TD {
    width: 32px;
    padding: 0px;
    text-align: center;
}


/****************************************************************************
 * Status cards (scard)
 */

TR.scard TD {
    background: white;
    border-left: 1px solid #DDD;
}
TR.scard.header {
    height: 20px;
}
TR.scard.header TD {
    /*background: #F6F6F6;*/
    color: #AAA;
}
TR.compact.scard {
    height: 24px;
}
TR.compact.scard.even_row TD {
    background: #EEE;
}

TR.scard.header TD.top_left_corner {
    background: white;
    border-left: 0px;
    width: 20px;
    border-top-left-radius: 12px;
}
TR.scard.header TD.top_right_corner {
    width: 20px;
    border-top-right-radius: 12px;
}
TR.scard TD.bottom_left_corner {
    border-left: 0px;
    border-bottom-left-radius: 12px;
}
TR.scard TD.bottom_right_corner {
    border-bottom-right-radius: 12px;
}

TR.scard TD.left_border {
    border-left: 0px;
}
TR.compact.scard TD.left_border {
    width: 20px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
TR.compact.scard TD.right_border {
    width: 20px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


/****************************************************************************
 * ABC dispatcher
 */

TABLE.big_letter {
    border: solid black 1px;
    font-weight: bold;
    font-size: 16pt;
    padding: 3px;
}

TABLE.abc_dispatcher {
    font-family: monospace;
    font-size: 12pt;
    margin-right: 0px;
    margin-left: auto;
}

TABLE.abc_dispatcher TD {
    background: #EEE;
    width: 22px;
    text-align: center;
}


/****************************************************************************
 * Node specific background colors
 */

/* malbec1 (Ubuntu 18.04) */
DIV.malbec1,
TR.malbec1,
TR.scard TD.malbec1 {
    background: #BDF;
}
TR.compact.scard.even_row TD.malbec1 {
    background: #ACE;
}

/* malbec2 (Ubuntu 20.04) */
DIV.malbec2,
TR.malbec2,
TR.scard TD.malbec2 {
    background: #DAECFA;
}
TR.compact.scard.even_row TD.malbec2 {
    background: #CADCEA;
}

/* nebbiolo1 (Ubuntu 20.04) */
DIV.nebbiolo1,
TR.nebbiolo1,
TR.scard TD.nebbiolo1 {
    background: #DAECFA;
}
TR.compact.scard.even_row TD.nebbiolo1 {
    background: #CADCEA;
}

/* rex3 (Ubuntu 20.04) */
DIV.rex3,
TR.rex3,
TR.scard TD.rex3 {
    background: #DAECFA;
}
TR.compact.scard.even_row TD.rex3 {
    background: #CADCEA;
}

/* tokay1 */
DIV.tokay1,
TR.tokay1,
TR.scard TD.tokay1 {
    background: #EDC;
}
TR.compact.scard.even_row TD.tokay1 {
    background: #DCB;
}

/* tokay2 */
DIV.tokay2,
TR.tokay2,
TR.scard TD.tokay2 {
    background: #EEE4CC;
}
TR.compact.scard.even_row TD.tokay2 {
    background: #DDD3BB;
}

/* riesling1 */
DIV.riesling1,
TR.riesling1,
TR.scard TD.riesling1 {
    background: #F4EFDF;
}
TR.compact.scard.even_row TD.riesling1 {
    background: #E4DFCF;
}

/* merida1 */
DIV.merida1,
TR.merida1,
TR.scard TD.merida1 {
    background: #D8CCEE;
}
TR.compact.scard.even_row TD.merida1 {
    background: #C8BBDD;
}

/* machv2 */
DIV.machv2,
TR.machv2,
TR.scard TD.machv2 {
    background: #ECE6FA;
}
TR.compact.scard.even_row TD.machv2 {
    background: #DCD6EA;
}

