BODY {
    background: #4363BE;
    font-family: sans-serif;
    font-size: 11pt;
    color: #2a2a2a;
}

H1 {
    font-size: 18pt;
    text-align: center;
}
H2 {
    font-size: 15pt;
    margin-top: 4px;
    margin-bottom: 3px;
    text-align: center;
}
H3 {
    font-size: 13pt;
    margin-top: 2px;
    margin-bottom: 3px;
    text-align: center;
}
H4 {
    font-size: 12pt;
    margin-top: 0px;
    margin-bottom: 2px;
}

P.time_stamp {
    font-style: italic;
    text-align: center;
}

TABLE.grid_layout {
    border-spacing: 0px;
    border-collapse: collapse;
}
TABLE.grid_layout TD {
    vertical-align: top;
    padding: 0px;
}

SPAN.filename {
    font-family: monospace;
    background: #445555;
    color: #AADDDD;
    padding: 3px;
}
SPAN.filename.fail {
    background: #B33;
}

DIV.hscrollable {
    overflow: auto;
    white-space: nowrap;
}
TABLE.grid_layout DIV.hscrollable {
    width: 550px;
}


/****************************************************************************
 * Message of the day
 */

TABLE.motd {
    width: 80%;
    margin: auto;
    margin-bottom: 6pt;
    border: solid red 4px;
    background: white;
    color: red;
    text-align: center;
}


/****************************************************************************
 * svn info
 */

DIV.svn_info P {
    margin: 0px;
    font-weight: bold;
    font-style: italic;
}
TABLE.svn_info {
    margin-top: 2pt;
    border-spacing: 0px;
    border-collapse: collapse;
}
DIV.svn_info TABLE.svn_info {
    /* margin: auto; */
    border: solid black 1px;
}
TABLE.mainrep TABLE.svn_info {
    font-size: smaller;
}
TABLE.svn_info TR TD.svn_info {
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background: #EEC;
    text-align: left;
}
SPAN.svn_info {
    color: #800;
}
DIV.svn_info SPAN.svn_info {
    font-weight: bold;
}


/****************************************************************************
 * Table of build node specifications
 */

TABLE.node_specs {
    /* margin: auto; */
    border: solid black 1px;
    font-size: smaller;
}
TABLE.node_specs TH {
    text-align: left;
    vertical-align: top;
    font-style: italic;
    font-size: smaller;
}
TABLE.node_specs TD.spec {
    border: solid black 1px;
}


/****************************************************************************
 * Table of 'R CMD config' variables (on the NodeInfo pages)
 */

TABLE.Rconfig {
    border-spacing: 1px;
    font-family: monospace;
}
TABLE.Rconfig TD {
    background: #FFF;
}


/****************************************************************************
 * Glyph styles
 */

SPAN.TIMEOUT {
    font-weight: bold;
    color: white;
}
SPAN.ERROR {
    font-weight: bold;
    color: white;
}
SPAN.WARNINGS {
    font-weight: bold;
    color: white;
}
SPAN.OK {
    font-weight: bold;
    color: #DDD;
}
SPAN.NotNeeded {
    font-weight: bold;
    color: #EEE;
}
SPAN.skipped, SPAN.NA {
    font-weight: bold;
}

.TIMEOUT,
TABLE.summary TD.summary.TIMEOUT {
    background: #A08;
}
.ERROR,
TABLE.summary TD.summary.ERROR {
    background: #B33;
}
.WARNINGS,
TABLE.summary TD.summary.WARNINGS {
    background: #D82;
}
.OK,
TABLE.summary TD.summary.OK {
    background: #282;
}
.NotNeeded,
TABLE.summary TD.summary.NotNeeded {
    background: #69C;
}
.NA,
TABLE.summary TD.summary.NA {
    background: #8AA;
}
P.noresult {
    text-align: center;
}
P.noresult SPAN {
    background: #8AA;
    padding: 4pt;
}

TABLE.summary {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    color: white;
}
TABLE.summary TD {
    width: 32px;
    padding: 0px;
    text-align: center;
}


/****************************************************************************
 * ABC dispatcher
 */

TABLE.big_letter {
    font-weight: bold;
    font-size: 16pt;
    padding: 3px;
    background: #FFCC00;
}

TABLE.abc_dispatcher {
    font-family: monospace;
    font-size: 12pt;
    margin-right: 0px;
    margin-left: auto;
}

TABLE.abc_dispatcher TD {
    width: 22px;
    text-align: center;
    background: #FFCC00;
}


/****************************************************************************
 * Main table (the big one)
 */

TABLE.mainrep {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

TABLE.mainrep TD {
    padding: 0px;
}
TABLE.mainrep .node {
    text-align: center;
}
TABLE.mainrep .stagecmd {
    width: 120px;
}

TABLE.mainrep TR.header TD,
TABLE.mainrep TD.header {
    /* border-top: solid black 1px; */
    background: inherit;
    font-style: italic;
    font-size: smaller;
}
TABLE.mainrep TR.current,
TABLE.mainrep TD.current {
    font-weight: bold;
}

TABLE.mainrep TD.status {
    /* border: inset 1pt; */
    text-align: center;
}

TABLE.mainrep .odd TH,
TABLE.mainrep .odd TD {
    background: #FFF;
}
TABLE.mainrep .even TH,
TABLE.mainrep .even TD {
    background: #DDD;
}


/****************************************************************************
 * Node specific background colors
 */

/* malbec1 */
DIV.malbec1,
TR.malbec1 TD,
TABLE.mainrep .malbec1,
TABLE.mainrep .odd .malbec1 {
    background: #BBD;
}
TABLE.mainrep .even .malbec1 {
    background: #99B;
}

/* malbec2 */
DIV.malbec2,
TR.malbec2 TD,
TABLE.mainrep .malbec2,
TABLE.mainrep .odd .malbec2 {
    background: #BBD;
}
TABLE.mainrep .even .malbec2 {
    background: #99B;
}

/* tokay1 */
DIV.tokay1,
TR.tokay1 TD,
TABLE.mainrep .tokay1,
TABLE.mainrep .odd .tokay1 {
    background: #DB9;
}
TABLE.mainrep .even .tokay1 {
    background: #B97;
}

/* tokay2 */
DIV.tokay2,
TR.tokay2 TD,
TABLE.mainrep .tokay2,
TABLE.mainrep .odd .tokay2 {
    background: #DB9;
}
TABLE.mainrep .even .tokay2 {
    background: #B97;
}

/* merida1 */
DIV.merida1,
TR.merida1 TD,
TABLE.mainrep .merida1,
TABLE.mainrep .odd .merida1 {
    background: #DBE;
}
TABLE.mainrep .even .merida1 {
    background: #B9C;
}

/* merida2 */
DIV.merida2,
TR.merida2 TD,
TABLE.mainrep .merida2,
TABLE.mainrep .odd .merida2 {
    background: #DBE;
}
TABLE.mainrep .even .merida2 {
    background: #B9C;
}

