BACKGROUND_COLOR="#CE8"
SUBVIEW="AnnotationData"
REPOS_NAME="Bioconductor 2.4 Packages - Annotation, CDF and Probe"
VIEW_ROOT="$HOME/PACKAGES/2.4"
VIEW_URL="http://bioconductor.org/packages/2.4"
REPOS_ROOT="$VIEW_ROOT/data/annotation"
REPOS_URL="$VIEW_URL/data/annotation"
STATS_URL=""
LOG_URL=""
CONTRIB_PATHS="c(source='src/contrib', win.binary='bin/windows/contrib/2.9', mac.binary.universal='bin/macosx/universal/contrib/2.9')"
